@media print {
  body {
    margin: 0;
  }
}

.nutritionLabel {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 566px; /* Ajuste as dimensões */
  height: 377px; /* Ajuste as dimensões */
  transform: rotate(90deg); /* Rotação de 90 graus */
  transform-origin: bottom left; /* Ponto de origem da rotação */
}
